.code-container {
    background-color: var(--bg-secondary);
    border-radius: 10px;
    padding: 2rem;
    width: 80%;
    max-width: 700px;
    border: solid 2px var(--bg-tertiary);
    border-top: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0 20px 40px var(--shadow-color);
    animation: hoverApear .7s ease;
}

.code-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,
            transparent,
            var(--accent-color),
            transparent);
    animation: borderGlow 4s ease-in-out infinite;
    filter: blur(1px);
}

@keyframes hoverApear {
    0% {
        transform: translateY(4rem) rotateZ(3deg) scale(.8);
        opacity: .3;
    }

    100% {
        transform: translateY(0rem) scale(1);
        opacity: 1;

    }
}

@keyframes borderGlow {

    0%,
    100% {
        left: 25%;
        width: 50%;
    }

    50% {
        left: 0%;
        width: 100%;
    }

}

.code-header {
    display: flex;
    margin-bottom: 1rem;
}

.code-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.dot-red {
    background-color: #ff5f56;
}

.dot-yellow {
    background-color: #ffbd2e;
}

.dot-green {
    background-color: #27c93f;
}

.code-output {
    font-family: "Roboto Mono";
    margin: 0;
    color: #f8fafc;
    font-size: 1rem;
    line-height: 1.6;
    overflow: hidden;
    text-align: left;
    white-space: pre;
}

.comment {
    color: #64748b;
}

.keyword {
    color: #c792ea;
}

.class {
    color: #82aaff;
}

.function {
    color: #ffcb6b;
}

.string {
    color: #c3e88d;
}

.number {
    color: #f78c6c;
}

.operator {
    color: #89ddff;
}

.punctuation {
    color: #eeffff;
}

.self {
    color: #f07178;
}